*tmp
/build/*
/viikko2/NhlStatistics1/.nb-gradle/
/viikko2/NhlStatistics1/build/
/viikko4/TyhjaProjekti/build/
/viikko4/WebLogin/.nb-gradle/
/viikko5/MockitoDemo/.nb-gradle/
/viikko5/MatkakorttiMockito/build/
/viikko6/Laskin/.nb-gradle/
/viikko6/QueryLanguage/.nb-gradle/